 @charset "utf-8";

 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

 * {
   margin: 0px;
   padding: 0px;
   width: auto;
 }

 header {
   height: 120px;
   background-color: #663AB5;
 }

 h1 {
   padding-top: 30px;
   padding-left: 190px;
   color: rgb(253, 218, 4);
 }

 nav{
  display: inline-flex;
 }

 ul {
   display: inline-flex;
   list-style: none;
   padding-top: 10px;
   padding-left: 120px;
   border-style: radius;
   border-width: 10px;
   border-color: black;

 }


 a {
   color: #fff;
   text-decoration: none;
   padding-left: 15px;
   font: 18px "kanit";

 }